{% extends "base.html" %}

{% block content %}
  <h1>Create Reservation</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reserve</button>
  </form>

  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      flatpickr("#id_start_date", {
        minDate: new Date().fp_incr(7),
      });
    });
  </script>
{% endblock %}
