{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <img class="card-img-top" src="{{ reservation.image }}" alt="{{ reservation.tour.title }}">
                <div class="card-body">
                    <h1 class="card-title">Reservation Details</h1>
                    <p class="card-text">
                        <strong>Reservation Number:</strong> {{ reservation.reservation_reference }}
                    </p>
                    <p class="card-text">
                        <strong>User:</strong> {{ reservation.user }}
                    </p>
                    <p class="card-text">
                        <strong>Tour:</strong> {{ reservation.tour.title }}
                    </p>
                    <p class="card-text">
                        <strong>Start Date:</strong> {{ reservation.start_date }}
                    </p>
                    <p class="card-text">
                        <strong>End Date:</strong> {{ reservation.end_date }}
                    </p>
                    <p class="card-text">
                        <strong>Nunber of Travelers:</strong> {{ reservation.number_of_people }}
                    </p>
                    <p class="card-text">
                        <strong>Total Price:</strong> {{ reservation.total_price }}
                    </p>
                      {% if reservation.status == 'active' %}
                        <a href="{% url 'reservation-update' reservation.user.pk reservation.pk %}" class="btn btn-primary"><i class="bi bi-plus-circle"></i> modify </a>
                        <a href="{% url 'reservation-cancel' reservation.user.pk reservation.pk %}" class="btn btn-primary"><i class="bi bi-plus-circle">Cancel Reservation</i></a>
                      {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
